<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户画像</title>
    <link rel="stylesheet" href="src/main/resources/static/bootstrap/js/bootstrap.min.js">
    <script src="src/main/resources/static/js/jquery.min.js"></script>
    <script src="src/main/resources/static/js/echarts/echarts.js"></script>
    <script th:inline="javascript">
        var alipay=[[${alipay}]];
        $(function ()
        {

        })

    </script>
</head>
<body>
    <header class="header">
        <p>tsr</p>
    </header>
    <section class="content">
        
    </section>
    
    
</body>
</html>